# VK API
TOKEN_GROUP: vk1.a.1a2b3c4d5e6f7g8h9i0j...,
GROUP_ID: 999999,
TOKEN_USER: vk1.a.1a2b3c4d5e6f7g8h9i0j...,

# Database
# driver://username:password@hostname:5432/database_name
DSN:postgresql://postgres:postgres@localhost:5432/vkinder,
